<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fixflow">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixFlow"
        tools:targetApi="31">

        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".UserLoginActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".AdminLoginActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".UserDashboardActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".AdminDashboardActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".IssueActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".AddCasesActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".SolutionActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".AddIssueActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".AddChecklistActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".CaseIssuesActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".ChecklistActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".NewIssueActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".NewChecklistActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
        <activity android:name=".UpdateChecklistActivity"
            android:theme="@style/Theme.FixFlow"
            android:exported="true"/>
    </application>

</manifest>
